#cadastro{
    /* background-image: url("https://img.freepik.com/fotos-gratis/tabela-de-madeira-com-fundo-do-borrao-da-cafetaria_1421-3284.jpg?size=626&ext=jpg&ga=GA1.2.2080206885.1627516800"); */
    /* background-size: cover; */
    justify-content: center;
    width: 100%;
    height: 100%;
    margin:20px auto;
    display: flex;
}

#form{
    width: 80%;
    margin-top: 10%;
}

#form label{
    border-radius: 25px;
    color: white;
    font-weight: bold;
}

#form input{
    border: 2px solid #333;
    border-radius: 25px;
    height: 16%;;
    width: 100%;
}