table{
    border: 1px solid #000;
    margin: 20px auto 10px;
    width: 80%;
    border-collapse: collapse;
}
table thead{
    background: rgb(175, 175, 27);
    background-image: url("https://st.depositphotos.com/1000459/3397/i/950/depositphotos_33972671-stock-photo-beer-background.jpg");
    background-size: cover;
    color: #fff;
    text-transform: uppercase;
    height: 40px;
}
table thead tr th{
    text-align: left;
    padding-left: 15px;
}
table tbody tr{
    height: 40px;
    background-color:#ccc ;
}

/* adiciona linhas de cores diferentes */
table tr:nth-child(odd) td{
    background-color: #e3e3f3;
}
table tbody tr td{
    padding-left: 15px;
    color: black;
}

table tbody tr td a{
    text-decoration: none;
}