body{
    background-image: url("https://st3.depositphotos.com/1004373/12593/i/600/depositphotos_125932862-stock-photo-retro-wooden-desk-in-a.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

main{
    background-color: #fff;
    background-image: url("https://a-static.mlcdn.com.br/618x463/tapete-em-lona-madeira-escura-fabrika-de-festa/fabrikadefesta/552576494/d5eaa0dfc8a18494a5fce2b49bdc6d8f.jpg");

    width:50%;
    min-height: 400px;
    margin:30px auto;
    border: 10px ridge #fff;
}

main h3{
    color: #ffff00;
    font-size: 40px;
    text-align: center;
    text-decoration: underline;
}

#video{
    margin: 50px 20%;
}

#barraLateral{
    display: block;
    justify-content: space-between;
    position: absolute;
    left: 0;
    bottom: 0px;
    height: 81%;
    width: 20%;
    margin:4.4% 0;
    cursor: pointer;
}

#barraLateral a{
    display: block;
    border:1px solid yellow;
    margin:90px 24%;
    width: 50%;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    color: yellow;
}

#barraLateral a:hover{
    background: brown;
    color: yellow;
    border: none;
}


footer{
    display: fixed;
    margin-top: 5.75%;
    width: 100%;
    height: 10%px;
    background-image: linear-gradient(to bottom,rgba(0,0,0,.60),rgba(0,0,0,.30));
}

footer h4{
    padding: 12px;
    text-align: center;
    color: white;
}