.tabela {
	border: 1px solid #000;
	margin: 20px auto 10px;
	width: 80%;
	border-collapse: collapse;
	height: 40px;
	text-transform: uppercase;
}

	.tabela tr th {
		text-align: left;
		background-image: url("https://st.depositphotos.com/1000459/3397/i/950/depositphotos_33972671-stock-photo-beer-background.jpg");
		padding-left: 15px;
		color:#fff;
	}

	.tabela tbody tr {
		height: 40px;
		background-color: #fff;
	}

	/* adiciona linhas de cores diferentes */
	.tabela tr:nth-child(odd) td {
		background-color: #e3e3f3;
	}

	.tabela tbody tr td {
		padding-left: 15px;
		color: black;
	}

table tbody tr td a {
	text-decoration: none;
}
