*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background: rgb(206, 201, 201);
    background-image: url(../img/havan.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

main{
    width: 50%;
    margin: 10px auto 120px;
    min-height: 500px;
    background: white;
    padding: 30px 25px;
    box-shadow: 10px 100px 500px 0px black;
}
#msgMenu h2{
    color: blue;
}
#msgMenu hr{
    width: 100%;
    height: 1px;
    background: blue;
}

#msgMenu p{
    font-size: 20px;
}

#havanGif img{
    margin-right:50px;
}

footer{
    position: fixed;
    display: inline-block;
    bottom: 0;
    width: 100%;
    height: 100px;
}

footer{
    position: fixed;
    display: inline-block;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: rgb(5, 150, 199);
}

#msgFooter h4{
    text-align: center;
    margin-top:60px;
}

#imgFooter{
    position: relative;
    bottom: 40%;
    left: 96%;
    height: 50px;
    width: 10%;
}

#imgFooter img{
    width: 40px; 
}